/* fonts */
@import url(../vendor/bootstrap/css/bootstrap.css);
@import url(../vendor/fontawesome/css/font-awesome.css);
@import url(../vendor/fonts/stylesheet.css);
/*------------------------------------------------------------------
CSS
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[1. Body]
*/
/* Typography */
/* line 6, ../sass/base/_base.scss */
body {
  color: #404041;
  background-color: #f6f6f6;
  font-family: "open_sansregular";
  font-size: 14px;
  line-height: 1.6;
}

/* line 15, ../sass/base/_base.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin: 0 0 15px;
}

/* line 19, ../sass/base/_base.scss */
h1 {
  font-weight: 300;
}

/* line 24, ../sass/base/_base.scss */
h1 {
  font-family: "open_sanslight";
  font-size: 2.857em;
}

/* line 28, ../sass/base/_base.scss */
h2 {
  font-size: 1.428em;
}

/* line 31, ../sass/base/_base.scss */
h3 {
  font-size: 1.142em;
}

/* line 35, ../sass/base/_base.scss */
a {
  outline: none;
}
/* line 38, ../sass/base/_base.scss */
a:hover, a:focus {
  outline: none;
  text-decoration: none;
}

/* line 44, ../sass/base/_base.scss */
li {
  list-style: none;
}

/* line 48, ../sass/base/_base.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 53, ../sass/base/_base.scss */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 20%;
  float: left;
}

/* line 1, ../sass/base/_header.scss */
.header {
  border-bottom: 1px solid #e3e3e3;
}
/* line 4, ../sass/base/_header.scss */
.header .container .logo {
  padding-top: 18px;
}
/* line 9, ../sass/base/_header.scss */
.header .container .main-menu ul li {
  border-right: 1px solid #e3e3e3;
}
/* line 11, ../sass/base/_header.scss */
.header .container .main-menu ul li a {
  padding: 25px;
  text-transform: uppercase;
  color: #404041;
}
/* line 15, ../sass/base/_header.scss */
.header .container .main-menu ul li a:hover {
  background-color: #fff;
}
/* line 18, ../sass/base/_header.scss */
.header .container .main-menu ul li a i {
  margin-left: 10px;
  margin-right: -17px;
}
/* line 24, ../sass/base/_header.scss */
.header .container .main-menu ul .active {
  background-color: #fff;
}

/* line 1, ../sass/partials/_page.scss */
.headline {
  background-color: #0e76bc;
}
/* line 5, ../sass/partials/_page.scss */
.headline .container ul li {
  font-size: 0.928em;
  padding-top: 14px;
  padding-bottom: 14px;
}
/* line 9, ../sass/partials/_page.scss */
.headline .container ul li a {
  color: #fff;
  padding-top: 0;
  padding-bottom: 0;
  border-right: 1px solid #fff;
  line-height: 1;
}
/* line 15, ../sass/partials/_page.scss */
.headline .container ul li a:hover {
  background-color: #0e76bc;
  text-decoration: underline;
}
/* line 20, ../sass/partials/_page.scss */
.headline .container ul li p {
  color: #fff;
  margin: 0;
  line-height: 1;
  padding-left: 14px;
}
/* line 25, ../sass/partials/_page.scss */
.headline .container ul li p i {
  margin-right: 4px;
}
/* line 30, ../sass/partials/_page.scss */
.headline .container ul .active {
  background-color: #e2605a;
  border-bottom: 1px solid #e2605a;
}
/* line 33, ../sass/partials/_page.scss */
.headline .container ul .active a {
  border-right: none;
}
/* line 35, ../sass/partials/_page.scss */
.headline .container ul .active a:hover {
  background-color: #d5524c;
  text-decoration: none;
}
/* line 42, ../sass/partials/_page.scss */
.headline .container ul .active:hover {
  background-color: #d5524c;
}

/* line 53, ../sass/partials/_page.scss */
.slideshow .container {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #e3e3e3;
}
/* line 58, ../sass/partials/_page.scss */
.slideshow .container .slide .carousel-indicators {
  left: 38%;
  margin-left: 0;
  text-align: right;
}
/* line 72, ../sass/partials/_page.scss */
.slideshow .container .slideshow-buttons ul {
  margin-bottom: 0;
  margin-top: 50px;
}
/* line 75, ../sass/partials/_page.scss */
.slideshow .container .slideshow-buttons ul li {
  display: inline-block;
}
/* line 77, ../sass/partials/_page.scss */
.slideshow .container .slideshow-buttons ul li a {
  padding: 15px 50px;
  background-color: #0e76bc;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  border-bottom: 4px solid #035a95;
}
/* line 84, ../sass/partials/_page.scss */
.slideshow .container .slideshow-buttons ul li a:hover {
  background-color: #0666a7;
}
