/* fonts */
@import url(../vendor/bootstrap/css/bootstrap.css);
@import url(../vendor/fontawesome/css/font-awesome.css);
@import url(../vendor/fonts/stylesheet.css);
/*------------------------------------------------------------------
CSS
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[1. Body]
*/
/* Typography */
/* line 6, ../sass/base/_base.scss */
body {
  color: #404041;
  background-color: #f6f6f6;
  font-family: "open_sansregular";
  font-size: 14px;
  line-height: 1.6;
}

/* line 15, ../sass/base/_base.scss */
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  margin: 0 0 15px;
}

/* line 19, ../sass/base/_base.scss */
h1 {
  font-weight: 300;
}

/* line 24, ../sass/base/_base.scss */
h1 {
  font-family: "open_sanslight";
  font-size: 2.857em;
}

/* line 28, ../sass/base/_base.scss */
h2 {
  font-size: 1.428em;
}

/* line 31, ../sass/base/_base.scss */
h3 {
  font-size: 1.142em;
}

/* line 35, ../sass/base/_base.scss */
a {
  outline: none;
}
/* line 38, ../sass/base/_base.scss */
a:hover, a:focus {
  outline: none;
  text-decoration: none;
}

/* line 44, ../sass/base/_base.scss */
li {
  list-style: none;
}

/* line 48, ../sass/base/_base.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 53, ../sass/base/_base.scss */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 20%;
  float: left;
}

/* line 1, ../sass/base/_header.scss */
.header {
  border-bottom: 1px solid #e3e3e3;
}
/* line 4, ../sass/base/_header.scss */
.header .container .logo {
  padding-top: 18px;
}
/* line 9, ../sass/base/_header.scss */
.header .container .main-menu ul li {
  border-right: 1px solid #e3e3e3;
}
/* line 11, ../sass/base/_header.scss */
.header .container .main-menu ul li a {
  padding: 25px;
  text-transform: uppercase;
  color: #404041;
}
/* line 15, ../sass/base/_header.scss */
.header .container .main-menu ul li a:hover {
  background-color: #fff;
}
/* line 18, ../sass/base/_header.scss */
.header .container .main-menu ul li a i {
  margin-left: 10px;
  margin-right: -17px;
}
/* line 24, ../sass/base/_header.scss */
.header .container .main-menu ul .active {
  background-color: #fff;
}

/* line 1, ../sass/partials/_page.scss */
.headline {
  background-color: #0e76bc;
}
/* line 3, ../sass/partials/_page.scss */
.headline .container {
  padding-top: 12px;
  padding-bottom: 12px;
}
/* line 7, ../sass/partials/_page.scss */
.headline .container ul li {
  font-size: 0.928em;
  padding: 0 14px;
  border-right: 1px solid #fff;
}
/* line 11, ../sass/partials/_page.scss */
.headline .container ul li:first-child, .headline .container ul li:last-child {
  border-right: none;
}
/* line 14, ../sass/partials/_page.scss */
.headline .container ul li:last-child {
  padding-right: 0;
}
/* line 17, ../sass/partials/_page.scss */
.headline .container ul li a {
  color: #fff;
  padding: 0;
  line-height: 1;
}
/* line 21, ../sass/partials/_page.scss */
.headline .container ul li a:hover, .headline .container ul li a:focus {
  background-color: #0e76bc;
  text-decoration: underline;
}
/* line 26, ../sass/partials/_page.scss */
.headline .container ul li p {
  color: #fff;
  margin: 0;
  line-height: 1;
}
/* line 30, ../sass/partials/_page.scss */
.headline .container ul li p i {
  margin-right: 4px;
}
/* line 35, ../sass/partials/_page.scss */
.headline .container ul .active {
  background-color: #e2605a;
  padding: 0;
  margin-top: -12px;
  margin-bottom: -12px;
}
/* line 40, ../sass/partials/_page.scss */
.headline .container ul .active a {
  border-right: none;
  display: inline-block;
  padding: 13px;
}
/* line 44, ../sass/partials/_page.scss */
.headline .container ul .active a:hover, .headline .container ul .active a:focus {
  background-color: #d5524c;
  text-decoration: none;
}
/* line 49, ../sass/partials/_page.scss */
.headline .container ul .active:hover, .headline .container ul .active:focus {
  background-color: #d5524c;
}

/* line 58, ../sass/partials/_page.scss */
.slideshow .container {
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom: 1px solid #e3e3e3;
}
/* line 64, ../sass/partials/_page.scss */
.slideshow .container .slide:hover .carousel-control {
  display: inline-block;
}
/* line 68, ../sass/partials/_page.scss */
.slideshow .container .slide .carousel-indicators {
  left: 38%;
  margin-left: 0;
  text-align: right;
}
/* line 72, ../sass/partials/_page.scss */
.slideshow .container .slide .carousel-indicators li {
  height: 12px;
  width: 12px;
  border: 1px solid #d6d6d7;
  background-color: #ffffff;
  margin-right: 8px;
}
/* line 79, ../sass/partials/_page.scss */
.slideshow .container .slide .carousel-indicators .active {
  height: 12px;
  width: 12px;
  background-color: #0e76bc;
  border: 1px solid #166aa3;
}
/* line 86, ../sass/partials/_page.scss */
.slideshow .container .slide .carousel-control {
  display: none;
  background-image: none;
  width: 0;
  top: 0;
  margin-top: 17%;
  width: 3%;
  height: 0;
  opacity: 0.8;
}
/* line 95, ../sass/partials/_page.scss */
.slideshow .container .slide .carousel-control span {
  padding: 30px 10px;
  background-color: #545454;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}
/* line 99, ../sass/partials/_page.scss */
.slideshow .container .slide .carousel-control span:hover, .slideshow .container .slide .carousel-control span:focus {
  background-color: #313131;
  opacity: 1;
}
/* line 109, ../sass/partials/_page.scss */
.slideshow .container .slideshow-buttons ul {
  margin-bottom: 0;
  margin-top: 50px;
}
/* line 112, ../sass/partials/_page.scss */
.slideshow .container .slideshow-buttons ul li {
  display: inline-block;
  margin-right: 6px;
}
/* line 115, ../sass/partials/_page.scss */
.slideshow .container .slideshow-buttons ul li a {
  padding: 15px 50px;
  background-color: #0e76bc;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  border-bottom: 4px solid #035a95;
}
/* line 122, ../sass/partials/_page.scss */
.slideshow .container .slideshow-buttons ul li a:hover, .slideshow .container .slideshow-buttons ul li a:focus {
  background-color: #0666a7;
}

/* line 133, ../sass/partials/_page.scss */
.panel-first .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
/* line 137, ../sass/partials/_page.scss */
.panel-first h2 {
  margin-bottom: 8px;
  font-family: open_sanslight;
  color: #8c8c8c;
}
/* line 141, ../sass/partials/_page.scss */
.panel-first h2 span {
  font-weight: bold;
}

/* line 148, ../sass/partials/_page.scss */
.main .container {
  padding-bottom: 60px;
  border-bottom: 1px solid #e3e3e3;
}
/* line 151, ../sass/partials/_page.scss */
.main .container .row {
  margin-bottom: 30px;
}
/* line 153, ../sass/partials/_page.scss */
.main .container .row:last-child {
  margin-bottom: 0;
}
/* line 157, ../sass/partials/_page.scss */
.main .container .media {
  background-color: #ffffff;
  min-height: 185px;
}
/* line 160, ../sass/partials/_page.scss */
.main .container .media .media-left {
  padding: 40px;
  text-align: center;
  min-width: 148px;
}
/* line 166, ../sass/partials/_page.scss */
.main .container .media-body {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 10px;
}
/* line 170, ../sass/partials/_page.scss */
.main .container .media-body h3 {
  margin-bottom: 8px;
}
/* line 172, ../sass/partials/_page.scss */
.main .container .media-body h3 a {
  font-size: 16px;
  color: #404041;
  font-family: open_sansbold;
}
/* line 176, ../sass/partials/_page.scss */
.main .container .media-body h3 a:hover {
  color: #0e76bc;
}
/* line 181, ../sass/partials/_page.scss */
.main .container .media-body p {
  font-family: open_sanslight;
  line-height: 1.8;
}

/* line 190, ../sass/partials/_page.scss */
.slider .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
/* line 194, ../sass/partials/_page.scss */
.slider .view-header {
  margin-bottom: 40px;
}
/* line 196, ../sass/partials/_page.scss */
.slider .view-header h2 {
  float: left;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 18px;
  color: #070707;
  margin-right: 25px;
}
/* line 205, ../sass/partials/_page.scss */
.slider .view-header p {
  margin-bottom: 0;
}
/* line 207, ../sass/partials/_page.scss */
.slider .view-header p a:hover, .slider .view-header p a:focus {
  color: #404041;
}
/* line 212, ../sass/partials/_page.scss */
.slider .carousel-control {
  background-image: none;
  left: auto;
  top: -64px;
  width: 0;
  font-size: 14px;
  opacity: 1;
}
/* line 219, ../sass/partials/_page.scss */
.slider .carousel-control span {
  padding: 8px 10px;
  background-color: #404041;
}
/* line 222, ../sass/partials/_page.scss */
.slider .carousel-control span:hover {
  background-color: #0e76bc;
}
/* line 227, ../sass/partials/_page.scss */
.slider .left {
  left: auto;
  right: 80px;
}
/* line 231, ../sass/partials/_page.scss */
.slider .right {
  right: 46px;
}
/* line 235, ../sass/partials/_page.scss */
.slider .img-responsive {
  border: 1px solid #e3e5e5;
  padding: 5px;
}
/* line 238, ../sass/partials/_page.scss */
.slider .img-responsive:hover {
  border-color: #aaaaaa;
}

/* line 244, ../sass/partials/_page.scss */
.panel-second {
  border-top: 1px solid #e3e3e3;
  background-color: #ececec;
}
/* line 247, ../sass/partials/_page.scss */
.panel-second .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
/* line 251, ../sass/partials/_page.scss */
.panel-second h2 {
  font-size: 1.285em;
}
/* line 253, ../sass/partials/_page.scss */
.panel-second h2 span {
  margin-bottom: 25px;
  text-transform: uppercase;
  color: #070731;
}
