/*------------------------------------------------------------------
[1. Body]
*/
/* Typography */

body {
	color: $body-color;
	background-color: #f6f6f6;
	font: {
		family: $font-body;
		size: $body-font-size;
	}
	line-height: 1.6;
}
h1, h2, h3, h4, h5, h6 {
	line-height: 1.1;
	margin: 0 0 15px;
}
h1 {
	font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
}
h1 {
	font-family: $font-primary;
	font-size: $fontsize-40;
}
h2 {
	font-size: $fontsize-20;
}
h3 {
	font-size: $fontsize-16;
}

a {
	outline: none;

	&:hover, &:focus {
		outline: none;
		text-decoration: none;
	}
}

li{
	list-style: none;
}

img{
	max-width: 100%;
	height: auto;
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	width: 20%;
	float: left;
}

