.header{
	border-bottom: 1px solid #e3e3e3;
	.container{
		.logo{
			padding-top: 18px;
		}
		.main-menu{
			ul{
				li{
					border-right: 1px solid #e3e3e3;
					a{
						padding: 25px;
						text-transform: uppercase;
						color: $body-color;
						&:hover{
							background-color: $link-white-color;
						}
						i{
							margin-left: 10px;
							margin-right: -17px;
						}
					}
				}
				.active{
					background-color: $link-white-color;
				}
			}
		}
	}
}