.headline{
  background-color: #0e76bc;
  .container{
    ul{
      li{
        font-size: $fontsize-13;
        padding-top: 14px;
        padding-bottom: 14px;
        a{
          color: $link-white-color;
          padding-top: 0;
          padding-bottom: 0;
          border-right: 1px solid #fff;
          line-height: 1;
          &:hover{
            background-color: #0e76bc;
            text-decoration: underline;
          }
        }
        p{
          color: $link-white-color;
          margin: 0;
          line-height: 1;
          padding-left: 14px;
          i{
            margin-right: 4px;
          }
        }
      }
      .active{
        background-color: #e2605a;
        border-bottom: 1px solid #e2605a;
        a{
          border-right: none;
          &:hover{
            background-color: #d5524c;
            text-decoration: none;
            //padding-top: 14px;
            //padding-bottom: 14px;
          }
        }
        &:hover{
          background-color: #d5524c;
          //padding-top: 0;
          //padding-bottom: 0;
        }
      }
    }
  }
}

.slideshow{
  .container{
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom: 1px solid #e3e3e3;
    .slide{
    }

    .slideshow-buttons{
      ul{
        margin-bottom: 0;
        margin-top: 50px;
        li{
          display: inline-block;
          a{
            padding: 15px 50px;
            background-color: #0e76bc;
            color: $link-white-color;
          }
        }
      }
    }
  }
}