.container-fluid {
	padding-left: 0;
	padding-right: 0;
}
.row-fluid, .container-fluid > .row {
	margin-left: 0;
	margin-right: 0;
	> [class^="col-"] {
		padding-left: 0;
		padding-right: 0;
	}
}

.row-wider {
	margin-left: -30px;
	margin-right: -30px;
	> [class^="col-"] {
		padding-left: 0;
		padding-right: 0;
	}
}
